<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mar.erp.sys.mapper.AtaffRoleMapper" >
  <resultMap id="BaseResultMap" type="com.mar.erp.sys.model.AtaffRole" >
    <constructor >
      <idArg column="ar_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="a_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ar_id, a_id, role_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from erp_ataff_role
    where ar_id = #{arId,jdbcType=INTEGER}
  </select>
    <select id="querySales" resultType="java.util.Map">
      select gt.t_name as tName,sum(ol.good_money) as sumPrice from erp_goods_type gt,erp_goods g,erp_order_list ol,erp_order o where gt.t_id=g.t_id and g.g_id=ol.good_id and ol.order_id=o.order_id
      <if test="null!=startTime">
        and o.order_create &gt;= #{startTime}
      </if>
      <if test="null!=endTime">
        and o.order_create &lt;= #{endTime}
      </if>

      GROUP BY gt.t_name  ORDER BY sum(ol.good_money) desc
    </select>
  <select id="querySalesYear" resultType="java.lang.String">
    select DISTINCT SUBSTRING(order_create,1,4) from erp_order
  </select>
  <select id="querySalesMonthByYear" resultType="java.util.Map">
    select year(o.order_create) yy,month(o.order_create) as  mm,sum(ol.good_money) as money from erp_goods_type gt,erp_goods g,erp_order_list ol,erp_order o where gt.t_id=g.t_id and g.g_id=ol.good_id and ol.order_id=o.order_id
    <if test="null != year">
    and o.order_create like concat('',#{year},'%')
    </if>
    GROUP BY year(o.order_create),month(o.order_create)
  </select>
  <select id="querySalesByClient" resultType="java.util.Map">
    select c.c_name as cName ,sum(o.order_money) as orderMoney  from erp_curstrumer c,erp_order o where o.order_cid =c.c_id

    <if test="null != year">
      and o.order_create like concat('',#{year},'%')
    </if>

    GROUP BY c.c_name ORDER BY sum(o.order_money) desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from erp_ataff_role
    where ar_id = #{arId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mar.erp.sys.model.AtaffRole" >
    insert into erp_ataff_role (ar_id, a_id, role_id
      )
    values (#{arId,jdbcType=INTEGER}, #{aId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mar.erp.sys.model.AtaffRole" >
    insert into erp_ataff_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="arId != null" >
        ar_id,
      </if>
      <if test="aId != null" >
        a_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="arId != null" >
        #{arId,jdbcType=INTEGER},
      </if>
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mar.erp.sys.model.AtaffRole" >
    update erp_ataff_role
    <set >
      <if test="aId != null" >
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where ar_id = #{arId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mar.erp.sys.model.AtaffRole" >
    update erp_ataff_role
    set a_id = #{aId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER}
    where ar_id = #{arId,jdbcType=INTEGER}
  </update>
</mapper>