<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mar.erp.personnel.mapper.AtaffMapper" >
  <resultMap id="BaseResultMap" type="com.mar.erp.personnel.model.Ataff" >
    <constructor >
      <idArg column="ata_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ata_username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ata_password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ata_realname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ata_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ata_email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ata_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ata_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="ata_dep" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ata_address" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ata_id, ata_username, ata_password, ata_realname, ata_sex, ata_email, ata_phone, 
    ata_date, ata_dep, ata_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from erp_ataff
    where ata_id = #{ataId,jdbcType=BIGINT}
  </select>
    <select id="queryByLogin" resultType="com.mar.erp.personnel.vo.AtaffVo">
      select <include refid="Base_Column_List" /> from erp_ataff where ata_username=#{userName}
    </select>
<!--    <select id="queryAtaff" resultType="com.mar.erp.personnel.model.Ataff">-->
<!--      select <include refid="Base_Column_List" /> from erp_ataff where 1=1-->
<!--      <if test="ataUsername!=null">-->
<!--        and ata_username like concat('%',#{ataUsername},'%')-->
<!--      </if>-->
<!--      <if test="ataRealname !=null ">-->
<!--        and ata_realname like concat('%',#{ataRealname},'%')-->
<!--      </if>-->
<!--      <if test="ataSex !=null ">-->
<!--        and ata_sex = #{ataSex}-->
<!--      </if>-->

<!--      <if test="ataEmail !=null ">-->
<!--        and ata_email like concat('%',#{ataEmail},'%')-->
<!--      </if>-->

<!--      <if test="ataPhone !=null ">-->
<!--        and ata_phone like concat('%',#{ataPhone},'%')-->
<!--      </if>-->

<!--      <if test="ataAddress !=null ">-->
<!--        and ata_address like concat('%',#{ataAddress},'%')-->
<!--      </if>-->

<!--      <if test="startDate !=null ">-->
<!--        and ata_date &gt;= #{startDate}-->
<!--      </if>-->

<!--      <if test="endDate !=null ">-->
<!--        and ata_date &lt;= #{endDate}-->
<!--      </if>-->
<!--    </select>-->
    <select id="queryAtaByRoleId" resultType="java.lang.Integer">
        select role_id from erp_ataff_role where a_id=#{ataId}
    </select>
    <select id="findRole" resultType="java.lang.String">
      select distinct(r.role_name) from erp_ataff a,erp_ataff_role ar,erp_role r where a.ata_id=ar.a_id
    and ar.role_id = r.role_id and a.ata_username=#{ataUserName} and r.role_name is not null
    </select>
  <select id="findPermissions" resultType="java.lang.String">
        select distinct(p.permission)
from erp_ataff a,erp_ataff_role ar,erp_role r,erp_role_permission rp,erp_permission p where a.ata_id=ar.a_id
and ar.role_id = r.role_id and r.role_id=rp.role_id and rp.per_id = p.per_id and a.ata_username=#{ataUserName} and p.permission is not null
  </select>
  <select id="queryAtaffByCrux" resultType="java.util.Map">
    select a.ata_id as ataId,a.ata_username as ataUsername,a.ata_password as ataPassword,a.ata_realname as ataRealname,
a.ata_sex as ataSex ,a.ata_email as ataEmail , a.ata_phone as ataPhone ,date_format(a.ata_date,'%Y-%m-%d') as ataDate,d.dep_name as ataDep,
a.ata_dep as aId,
a.ata_address as ataAddress
from erp_ataff a,erp_department d where a.ata_dep = d.dep_id
    <if test="ataUsername!=null">
      and a.ata_username like concat('%',#{ataUsername},'%')
    </if>
    <if test="ataRealname !=null ">
      and a.ata_realname like concat('%',#{ataRealname},'%')
    </if>
    <if test="ataSex !=null ">
      and a.ata_sex like concat('%',#{ataSex},'%')
    </if>

    <if test="ataEmail !=null ">
      and a.ata_email like concat('%',#{ataEmail},'%')
    </if>

    <if test="ataPhone !=null ">
      and a.ata_phone like concat('%',#{ataPhone},'%')
    </if>

    <if test="ataAddress !=null ">
      and a.ata_address like concat('%',#{ataAddress},'%')
    </if>

    <if test="startDate !=null ">
      and a.ata_date &gt;= #{startDate}
    </if>

    <if test="endDate !=null ">
      and a.ata_date &lt;= #{endDate}
    </if>

  </select>
  <select id="findAtaffByEmail" resultType="com.mar.erp.personnel.model.Ataff">
    select <include refid="Base_Column_List" /> from erp_ataff where ata_email=#{email}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erp_ataff
    where ata_id = #{ataId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteAtaByAtaId">
    delete from erp_ataff_role where a_id = #{ataId}
  </delete>
  <insert id="insert" parameterType="com.mar.erp.personnel.model.Ataff" >
    insert into erp_ataff (ata_id, ata_username, ata_password, 
      ata_realname, ata_sex, ata_email, 
      ata_phone, ata_date, ata_dep, 
      ata_address)
    values (#{ataId,jdbcType=BIGINT}, #{ataUsername,jdbcType=VARCHAR}, #{ataPassword,jdbcType=VARCHAR}, 
      #{ataRealname,jdbcType=VARCHAR}, #{ataSex,jdbcType=VARCHAR}, #{ataEmail,jdbcType=VARCHAR}, 
      #{ataPhone,jdbcType=VARCHAR}, #{ataDate,jdbcType=DATE}, #{ataDep,jdbcType=BIGINT}, 
      #{ataAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mar.erp.personnel.model.Ataff" >
    insert into erp_ataff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ataId != null" >
        ata_id,
      </if>
      <if test="ataUsername != null" >
        ata_username,
      </if>
      <if test="ataPassword != null" >
        ata_password,
      </if>
      <if test="ataRealname != null" >
        ata_realname,
      </if>
      <if test="ataSex != null" >
        ata_sex,
      </if>
      <if test="ataEmail != null" >
        ata_email,
      </if>
      <if test="ataPhone != null" >
        ata_phone,
      </if>
      <if test="ataDate != null" >
        ata_date,
      </if>
      <if test="ataDep != null" >
        ata_dep,
      </if>
      <if test="ataAddress != null" >
        ata_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ataId != null" >
        #{ataId,jdbcType=BIGINT},
      </if>
      <if test="ataUsername != null" >
        #{ataUsername,jdbcType=VARCHAR},
      </if>
      <if test="ataPassword != null" >
        #{ataPassword,jdbcType=VARCHAR},
      </if>
      <if test="ataRealname != null" >
        #{ataRealname,jdbcType=VARCHAR},
      </if>
      <if test="ataSex != null" >
        #{ataSex,jdbcType=VARCHAR},
      </if>
      <if test="ataEmail != null" >
        #{ataEmail,jdbcType=VARCHAR},
      </if>
      <if test="ataPhone != null" >
        #{ataPhone,jdbcType=VARCHAR},
      </if>
      <if test="ataDate != null" >
        #{ataDate,jdbcType=DATE},
      </if>
      <if test="ataDep != null" >
        #{ataDep,jdbcType=BIGINT},
      </if>
      <if test="ataAddress != null" >
        #{ataAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="addAtaByRoleId">
    insert into erp_ataff_role(a_id,role_id) values
    <foreach collection="roleIds"  separator="," item="roleId">
      (#{ataId},#{roleId})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mar.erp.personnel.model.Ataff" >
    update erp_ataff
    <set >
      <if test="ataUsername != null" >
        ata_username = #{ataUsername,jdbcType=VARCHAR},
      </if>
      <if test="ataPassword != null" >
        ata_password = #{ataPassword,jdbcType=VARCHAR},
      </if>
      <if test="ataRealname != null" >
        ata_realname = #{ataRealname,jdbcType=VARCHAR},
      </if>
      <if test="ataSex != null" >
        ata_sex = #{ataSex,jdbcType=VARCHAR},
      </if>
      <if test="ataEmail != null" >
        ata_email = #{ataEmail,jdbcType=VARCHAR},
      </if>
      <if test="ataPhone != null" >
        ata_phone = #{ataPhone,jdbcType=VARCHAR},
      </if>
      <if test="ataDate != null" >
        ata_date = #{ataDate,jdbcType=DATE},
      </if>
      <if test="ataDep != null" >
        ata_dep = #{ataDep,jdbcType=BIGINT},
      </if>
      <if test="ataAddress != null" >
        ata_address = #{ataAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where ata_id = #{ataId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mar.erp.personnel.model.Ataff" >
    update erp_ataff
    set ata_username = #{ataUsername,jdbcType=VARCHAR},
      ata_password = #{ataPassword,jdbcType=VARCHAR},
      ata_realname = #{ataRealname,jdbcType=VARCHAR},
      ata_sex = #{ataSex,jdbcType=VARCHAR},
      ata_email = #{ataEmail,jdbcType=VARCHAR},
      ata_phone = #{ataPhone,jdbcType=VARCHAR},
      ata_date = #{ataDate,jdbcType=DATE},
      ata_dep = #{ataDep,jdbcType=BIGINT},
      ata_address = #{ataAddress,jdbcType=VARCHAR}
    where ata_id = #{ataId,jdbcType=BIGINT}
  </update>
</mapper>