<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mar.erp.repertory.mapper.StoredetailMapper" >
  <resultMap id="BaseResultMap" type="com.mar.erp.repertory.model.Storedetail" >
    <constructor >
      <idArg column="sd_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sr_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="g_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sd_num" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    sd_id, sr_id, g_id, sd_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from erp_storedetail
    where sd_id = #{sdId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erp_storedetail
    where sd_id = #{sdId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mar.erp.repertory.model.Storedetail" >
    insert into erp_storedetail (sd_id, sr_id, g_id, 
      sd_num)
    values (#{sdId,jdbcType=BIGINT}, #{srId,jdbcType=BIGINT}, #{gId,jdbcType=BIGINT}, 
      #{sdNum,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mar.erp.repertory.model.Storedetail" >
    insert into erp_storedetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sdId != null" >
        sd_id,
      </if>
      <if test="srId != null" >
        sr_id,
      </if>
      <if test="gId != null" >
        g_id,
      </if>
      <if test="sdNum != null" >
        sd_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sdId != null" >
        #{sdId,jdbcType=BIGINT},
      </if>
      <if test="srId != null" >
        #{srId,jdbcType=BIGINT},
      </if>
      <if test="gId != null" >
        #{gId,jdbcType=BIGINT},
      </if>
      <if test="sdNum != null" >
        #{sdNum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mar.erp.repertory.model.Storedetail" >
    update erp_storedetail
    <set >
      <if test="srId != null" >
        sr_id = #{srId,jdbcType=BIGINT},
      </if>
      <if test="gId != null" >
        g_id = #{gId,jdbcType=BIGINT},
      </if>
      <if test="sdNum != null" >
        sd_num = #{sdNum,jdbcType=BIGINT},
      </if>
    </set>
    where sd_id = #{sdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mar.erp.repertory.model.Storedetail" >
    update erp_storedetail
    set sr_id = #{srId,jdbcType=BIGINT},
      g_id = #{gId,jdbcType=BIGINT},
      sd_num = #{sdNum,jdbcType=BIGINT}
    where sd_id = #{sdId,jdbcType=BIGINT}
  </update>
</mapper>