<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mar.erp.sell.mapper.OrderOutMapper" >
  <resultMap id="BaseResultMap" type="com.mar.erp.sell.model.OrderOut" >
    <constructor >
      <idArg column="o_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="o_createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="o_create_person" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="o_money" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="o_state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="p_waybill" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    o_id, o_createtime, o_create_person, c_id, o_money, o_state, p_waybill, order_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from erp_order_out
    where o_id = #{oId,jdbcType=BIGINT}
  </select>
<!--  查询所有审核状态的退货商品信息-->
    <select id="OrderOutAllpage" resultType="java.util.Map">
     select o.o_id as oId,o.o_createtime as oCreatetime,o_create_person as oCreatePerson,c.c_name as cName, o.o_money as oMoney,o.o_state as oState ,o.p_waybill as pWaybill,o.order_id as orderId
     from erp_order_out o ,erp_curstrumer c where  o.c_id =c.c_id

      <if test="oId != null and ''!= oId" >
        and o.o_id like concat('%',#{oId},'%')
      </if>

      <if test=" null != Time and ''!=Time" >
        and  o.o_createtime  &gt;= #{Time}
      </if>
      <if test=" null != end and ''!=end" >
        and  o.o_createtime &lt;= #{end}
      </if>
      <if test="cName != null and ''!= cName" >
        and c.c_name like concat('%',#{cName},'%')
      </if>

      order by o.o_id desc
    </select>
<!--  查询状态未等待审核的退货订单-->
    <select id="OrderOutByState" resultType="java.util.Map">
     select o.o_id as oId,o.o_createtime as oCreatetime,o_create_person as oCreatePerson,c.c_name as cName, o.o_money as oMoney,o.o_state as oState ,o.p_waybill as pWaybill,o.order_id as orderId
     from erp_order_out o ,erp_curstrumer c where  o.c_id =c.c_id
     and o.o_state =0

      <if test="oId != null and ''!= oId" >
        and o.o_id like concat('%',#{oId},'%')
      </if>

      <if test=" null != Time and ''!=Time" >
        and  o.o_createtime  &gt;= #{Time}
      </if>
      <if test=" null != end and ''!=end" >
        and  o.o_createtime &lt;= #{end}
      </if>
      <if test="cName != null and ''!= cName" >
        and c.c_name like concat('%',#{cName},'%')
      </if>

      order by o.o_id desc

    </select>

<!--  查询订单退货状态为未通过的退货订单-->
  <select id="OrderOutBySataeOne" resultType="java.util.Map">
     select o.o_id as oId,o.o_createtime as oCreatetime,o_create_person as oCreatePerson,c.c_name as cName, o.o_money as oMoney,o.o_state as oState ,o.p_waybill as pWaybill,o.order_id as orderId
     from erp_order_out o ,erp_curstrumer c where  o.c_id =c.c_id
     and o.o_state =1

    <if test="oId != null and ''!= oId" >
      and o.o_id like concat('%',#{oId},'%')
    </if>

    <if test=" null != Time and ''!=Time" >
      and  o.o_createtime  &gt;= #{Time}
    </if>
    <if test=" null != end and ''!=end" >
      and  o.o_createtime &lt;= #{end}
    </if>
    <if test="cName != null and ''!= cName" >
      and c.c_name like concat('%',#{cName},'%')
    </if>

    order by o.o_id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erp_order_out
    where o_id = #{oId,jdbcType=BIGINT}
  </delete>

<!--  添加退货订单的方法-->
  <insert id="insert" parameterType="com.mar.erp.sell.model.OrderOut" keyProperty="oId" useGeneratedKeys="true">
    insert into erp_order_out ( o_create_person,
      c_id, o_money,
      p_waybill, order_id)
    values (#{oCreatePerson,jdbcType=VARCHAR},
      #{cId,jdbcType=BIGINT}, #{oMoney,jdbcType=DECIMAL},
      #{pWaybill,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mar.erp.sell.model.OrderOut" >
    insert into erp_order_out
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        o_id,
      </if>
      <if test="oCreatetime != null" >
        o_createtime,
      </if>
      <if test="oCreatePerson != null" >
        o_create_person,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="oMoney != null" >
        o_money,
      </if>
      <if test="oState != null" >
        o_state,
      </if>
      <if test="pWaybill != null" >
        p_waybill,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        #{oId,jdbcType=BIGINT},
      </if>
      <if test="oCreatetime != null" >
        #{oCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="oCreatePerson != null" >
        #{oCreatePerson,jdbcType=VARCHAR},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=BIGINT},
      </if>
      <if test="oMoney != null" >
        #{oMoney,jdbcType=DECIMAL},
      </if>
      <if test="oState != null" >
        #{oState,jdbcType=INTEGER},
      </if>
      <if test="pWaybill != null" >
        #{pWaybill,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mar.erp.sell.model.OrderOut" >
    update erp_order_out
    <set >
      <if test="oCreatetime != null" >
        o_createtime = #{oCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="oCreatePerson != null" >
        o_create_person = #{oCreatePerson,jdbcType=VARCHAR},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=BIGINT},
      </if>
      <if test="oMoney != null" >
        o_money = #{oMoney,jdbcType=DECIMAL},
      </if>
      <if test="oState != null" >
        o_state = #{oState,jdbcType=INTEGER},
      </if>
      <if test="pWaybill != null" >
        p_waybill = #{pWaybill,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
    </set>
    where o_id = #{oId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mar.erp.sell.model.OrderOut" >
    update erp_order_out
    set o_createtime = #{oCreatetime,jdbcType=TIMESTAMP},
      o_create_person = #{oCreatePerson,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=BIGINT},
      o_money = #{oMoney,jdbcType=DECIMAL},
      o_state = #{oState,jdbcType=INTEGER},
      p_waybill = #{pWaybill,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=BIGINT}
    where o_id = #{oId,jdbcType=BIGINT}
  </update>
  <update id="updateState">
update erp_order_out set o_state=#{oState} where o_id=#{oId}


  </update>
</mapper>